\.HA_VERSION
.uuid
OZW_Log.txt
configuration.yaml.save
deps/
home-assistant.log
home-assistant_v2.db
plex.conf
pyozw.sqlite
zwscene.xml
.idea/
add_confs/shell_commands/__pycache__/
secrets.yaml
options.xml
.DS_Store

