- alias: 'Double Tap Up'
  trigger:
    platform: event
    event_type: zwave.scene_activated
    event_data:
      scene_id: 1
      scene_data: 3
  action:
    - service: switch.turn_on
      data:
        entity_id: switch.master_toilet_switch

- alias: 'Double Tap Down'
  trigger:
    platform: event
    event_type: zwave.scene_activated
    event_data:
      scene_id: 2
      scene_data: 3
  action:
    - service: switch.turn_off
      data:
        entity_id: switch.master_bathroom_switch
    - service: switch.turn_off
      data:
        entity_id: switch.master_shower_switch
    - service: switch.turn_off
      data:
        entity_id: switch.master_toilet_switch

- alias: 'Triple Tap Up'
  trigger:
    platform: event
    event_type: zwave.scene_activated
    event_data:
      scene_id: 1
      scene_data: 4
  action:
  action:
    - service: switch.turn_on
      data:
        entity_id: switch.master_bathroom_switch
    - service: switch.turn_on
      data:
        entity_id: switch.master_shower_switch
    - service: switch.turn_on
      data:
        entity_id: switch.master_toilet_switch

- alias: 'Triple Tap Down'
  trigger:
    platform: event
    event_type: zwave.scene_activated
    event_data:
      scene_id: 2
      scene_data: 4
  action:
    - service: switch.turn_off
      data:
        entity_id: switch.master_bathroom_switch
    - service: switch.turn_on
      data:
        entity_id: switch.master_shower_switch
    - service: switch.turn_off
      data:
        entity_id: switch.master_toilet_switch
    - service: switch.turn_off
      data:
        entity_id: switch.master_bedroom_switch
    - service: fan.turn_on
      data:
        entity_id: fan.master_fan
        speed: medium