homeassistant:
  name: Home
  latitude: 40.2264
  longitude: -111.697
  elevation: 1371
  unit_system: imperial
  time_zone: America/Denver

  customize: !include customize.yaml


automation: !include automations.yaml
script: !include scripts.yaml
group: !include groups.yaml

lovelace:
frontend:
config:

http:
  api_password: !secret http_password
  ssl_certificate: /etc/letsencrypt/live/home.jordancarlson.me/fullchain.pem
  ssl_key: /etc/letsencrypt/live/home.jordancarlson.me/privkey.pem
  base_url: home.jordancarlson.me

updater:
discovery:

recorder:
  purge_interval: 2
  purge_keep_days: 3
  include:
    domains:
      - sensor
      - switch
      - media_player
  exclude:
    entities:
     - sensor.last_boot
     - sensor.date

history:
logbook:
logger:
  default: warning
  logs:
    homeassistant.components.mqtt: debug
map:

nest:
  client_id: !secret nest_client_id
  client_secret: !secret nest_client_secret

tts:
  - platform: google

notify:
  - platform: html5
    gcm_api_key: !secret gcm_api_key
    gcm_sender_id: !secret gcm_sender_id

zwave:
  usb_path: /dev/serial/by-id/usb-0658_0200-if00
  network_key: !secret zwave_key
  # polling_interval: 30000

cover:
 - platform: myq
   username: !secret myq_user
   password: !secret myq_password
   type: liftmaster

ecobee:
  api_key: qzqurGeNiFoo6QpobTVScLX04P6K1w6Q 

# camera:
#   - platform: yi
#     name: Camera
#     host: '192.168.0.95'
#     password: my_password_123


device_tracker:
  - platform: google_maps
    username: !secret google_maps_user
    password: !secret google_maps_password

mqtt:
  broker: 192.168.1.100
  port: 1883
  client_id: homeassistant
  username: !secret mqtt_user
  password: !secret mqtt_password

google_assistant:
  project_id: home-assistant-142002
  api_key: !secret assistant_api_key
  exposed_domains:
    - switch
    - light
    - fan
    - cover

input_number:
  multi_offset:
    name: 64CAEC_offset
    initial: 0
    min: -15
    max: 15
    step: 0.1

light:  
  - platform: mqtt
    schema: json
    name: "LED"  
    state_topic: "multi/64CAEC/state"  
    command_topic: "multi/64CAEC/set"  
    brightness: true  
    flash: true  
    rgb: true  
    optimistic: false  

  - platform: mqtt
    schema: json
    name: "Test LED"
    state_topic: "multi/295637/state"
    command_topic: "multi/295637/set"
    brightness: true
    flash: true
    rgb: true
    optimistic: false

  - platform: mqtt
    schema: json
    name: "Test 2 LED"
    state_topic: "multi/2960C1/state"
    command_topic: "multi/2960C1/set"
    brightness: true
    flash: true
    rgb: true
    optimistic: false


sensor:
  - platform: command_line
    name: Dexcom
    command: python3 ~/.homeassistant/scripts/dexcom.py
    unit_of_measurement: mg/dL
    scan_interval: 300

  - platform: systemmonitor
    resources:
      - type: processor_use
      - type: memory_free
      - type: load_1m
      - type: load_5m
      - type: load_15m
  
  - platform: mqtt  
    state_topic: "multi/64CAEC/state"  
    name: "PIR"  
    value_template: '{{ value_json.motion }}'  

  - platform: mqtt  
    state_topic: "multi/64CAEC/state"  
    name: "Temperature"  
    unit_of_measurement: "°F"  
    value_template: '{{ value_json.temperature | round(1) }}'

  - platform: mqtt
    state_topic: "multi/64CAEC/state"
    name: "Feels Like"
    unit_of_measurement: "°F"
    value_template: '{{ value_json.heatIndex | round(0) }}'

  - platform: mqtt  
    state_topic: "multi/64CAEC/state"  
    name: "Humidity"  
    unit_of_measurement: "%"  
    value_template: '{{ value_json.humidity | round(0) }}'

  - platform: mqtt
    state_topic: "multi/295637/state"
    name: "Test PIR"
    value_template: '{{ value_json.motion }}'

  - platform: mqtt
    state_topic: "multi/295637/state"
    name: "Test Temperature"
    unit_of_measurement: "°F"
    value_template: '{{ value_json.temperature | round(1) }}'

  - platform: mqtt
    state_topic: "multi/295637/state"
    name: "Test Feels Like"
    unit_of_measurement: "°F"
    value_template: '{{ value_json.heatIndex | round(0) }}'

  - platform: mqtt
    state_topic: "multi/295637/state"
    name: "Test Humidity"
    unit_of_measurement: "%"
    value_template: '{{ value_json.humidity | round(0) }}'

  - platform: mqtt
    state_topic: "multi/2960C1/state"
    name: "Test 2 PIR"
    value_template: '{{ value_json.motion }}'

  - platform: mqtt
    state_topic: "multi/2960C1/state"
    name: "Test 2 Temperature"
    unit_of_measurement: "°F"
    value_template: '{{ value_json.temperature | round(1) }}'

  - platform: mqtt
    state_topic: "multi/2960C1/state"
    name: "Test 2 Feels Like"
    unit_of_measurement: "°F"
    value_template: '{{ value_json.heatIndex | round(0) }}'

  - platform: mqtt
    state_topic: "multi/2960C1/state"
    name: "Test 2 Humidity"
    unit_of_measurement: "%"
    value_template: '{{ value_json.humidity | round(0) }}'





