homeassistant:
  name: Home
  latitude: 40.2264
  longitude: -111.697
  elevation: 1371
  unit_system: imperial
  time_zone: America/Denver

  customize: !include customize.yaml

# group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

frontend:
config:

http:
  api_password: !secret http_password

updater:
discovery:

recorder:
  purge_interval: 2
  purge_keep_days: 3
  include:
    domains:
      - sensor
      - switch
      - media_player
  exclude:
    entities:
     - sensor.last_boot
     - sensor.date

history:
logbook:
map:

tts:
  - platform: google

zwave:
  usb_path: /dev/serial/by-id/usb-0658_0200-if00
  # polling_interval: 30000

camera:
  - platform: yi
    name: Camera
    host: '192.168.0.95'
    password: my_password_123

mqtt:
  broker: 192.168.0.108
  port: 1883
  client_id: homeassistant
  username: !secret mqtt_user
  password: !secret mqtt_password


light:  
  - platform: mqtt_json  
    name: "LED"  
    state_topic: "multi/node1"  
    command_topic: "multi/node1/set"  
    brightness: true  
    flash: true  
    rgb: true  
    optimistic: false  
    qos: 0  
  
  
sensor:
  
  - platform: mqtt  
    state_topic: "multi/node1"  
    name: "PIR"  
    value_template: '{{ value_json.motion }}'  

  - platform: mqtt  
    state_topic: "multi/node1"  
    name: "Temperature"  
    unit_of_measurement: "°F"  
    value_template: '{{ value_json.temperature | round(1) }}'

  - platform: mqtt
    state_topic: "multi/node1"
    name: "Feels Like"
    unit_of_measurement: "°F"
    value_template: '{{ value_json.heatIndex | round(0) }}'

  - platform: mqtt  
    state_topic: "multi/node1"  
    name: "Humidity"  
    unit_of_measurement: "%"  
    value_template: '{{ value_json.humidity | round(0) }}'
  
  
group:  
  multisensor_1_card:  
    name: Multisensor  
    entities:  
      - sensor.temperature  
      - sensor.humidity 
      - sensor.pir  
      - light.led





