homeassistant:
  name: Home
  latitude: 40.2264
  longitude: -111.697
  elevation: 1371
  unit_system: imperial
  time_zone: America/Denver

  customize: !include customize.yaml

group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

frontend:
config:

http:
  api_password: !secret http_password

updater:
discovery:

recorder:
  purge_interval: 2
  purge_keep_days: 3
  include:
    domains:
      - sensor
      - switch
      - media_player
  exclude:
    entities:
     - sensor.last_boot
     - sensor.date

history:
logbook:
map:
sun:
sensor:
  - platform: yr

tts:
  - platform: google

zwave:
  usb_path: /dev/serial/by-id/usb-0658_0200-if00
  # polling_interval: 30000

camera:
  - platform: yi
    name: Camera
    host: '192.168.0.95'
    password: my_password_123

mqtt:
  broker: 192.168.0.108
  port: 1883
  client_id: homeassistant
  username: !secrets mqtt_user
  password: !secrets mqtt_password
