homeassistant:
  name: Home
  latitude: 40.2264
  longitude: -111.697
  elevation: 1371
  unit_system: imperial
  time_zone: America/Denver

  customize: !include customize.yaml

# group: !include groups.yaml
automation: !include automations.yaml
script: !include scripts.yaml

frontend:
config:

http:
  api_password: !secret http_password
  ssl_certificate: /etc/letsencrypt/live/home.jordancarlson.me/fullchain.pem
  ssl_key: /etc/letsencrypt/live/home.jordancarlson.me/privkey.pem
  base_url: home.jordancarlson.me

updater:
discovery:

recorder:
  purge_interval: 2
  purge_keep_days: 3
  include:
    domains:
      - sensor
      - switch
      - media_player
  exclude:
    entities:
     - sensor.last_boot
     - sensor.date

history:
logbook:
logger:
map:

tts:
  - platform: google

notify:
  - platform: html5
    name: HTML5_NOTIFIER
    gcm_api_key: !secret gcm_api_key
    gcm_sender_id: !secret gcm_sender_id

zwave:
  usb_path: /dev/serial/by-id/usb-0658_0200-if00
  # polling_interval: 30000

cover:
  - platform: myq
    username: !secret myq_user
    password: !secret myq_password
    type: liftmaster

# camera:
#   - platform: yi
#     name: Camera
#     host: '192.168.0.95'
#     password: my_password_123

mqtt:
  broker: 192.168.1.100
  port: 1883
  client_id: homeassistant
  username: !secret mqtt_user
  password: !secret mqtt_password

google_assistant:
  project_id: home-assistant-142002
  api_key: !secret assistant_api_key
  exposed_domains:
    - switch
    - light
    - fan
    - cover


light:  
  - platform: mqtt_json  
    name: "LED"  
    state_topic: "multi/node1"  
    command_topic: "multi/node1/set"  
    brightness: true  
    flash: true  
    rgb: true  
    optimistic: false  
    qos: 0

switch:
  - platform: wake_on_lan
    mac_address: "44-85-00-58-27-4E"
  
sensor:
  - platform: command_line
    name: Dexcom
    command: python3 ~/.homeassistant/scripts/dexcom.py
    unit_of_measurement: mg/dL
    scan_interval: 300
  
  - platform: mqtt  
    state_topic: "multi/node1"  
    name: "PIR"  
    value_template: '{{ value_json.motion }}'  

  - platform: mqtt  
    state_topic: "multi/node1"  
    name: "Temperature"  
    unit_of_measurement: "°F"  
    value_template: '{{ value_json.temperature | round(1) }}'

  - platform: mqtt
    state_topic: "multi/node1"
    name: "Feels Like"
    unit_of_measurement: "°F"
    value_template: '{{ value_json.heatIndex | round(0) }}'

  - platform: mqtt  
    state_topic: "multi/node1"  
    name: "Humidity"  
    unit_of_measurement: "%"  
    value_template: '{{ value_json.humidity | round(0) }}'

  - platform: systemmonitor
    resources:
      - type: processor_use
      - type: memory_free
      - type: load_1m
      - type: load_5m
      - type: load_15m
  
group:
  carlson:
    view: yes
    name: Carlson
    entities:
      - group.master
      - group.multisensor_1
      - group.system
  master:
    name: Master Bedroom
    entities:
      - switch.master_bedroom_switch
      - fan.master_fan
      - switch.master_bathroom_switch
      - switch.master_shower_switch
      - switch.master_toilet_switch
  multisensor_1:  
    name: Multisensor  
    entities:  
      - sensor.temperature
      - sensor.feels_like
      - sensor.humidity
      - sensor.pir  
      - light.led
  system:
    name: System Status
    entities:
      - sensor.processor_use
      - sensor.load_1m
      - sensor.load_5m
      - sensor.load_15m
      - sensor.memory_free





